.app {
  display: flex; /* Flexbox kullanarak içerikleri yan yana getiriyoruz. */
  height: 100vh; /* Ekranın tam yüksekliğini kaplar. */
}

.left {
  flex: 7; /* Toplam flex değerinin %80'i kadar alan kaplar. */
  background-color: #e9ecef; /* Görsel olarak ayırt edebilmek için bir arkaplan rengi ekledim. */
  text-align: center;
}

.right {
  flex: 3; /* Toplam flex değerinin %20'si kadar alan kaplar. */
  background-color: pink; /* Görsel olarak ayırt edebilmek için bir arkaplan rengi ekledim. */
  text-align: center;
}
